<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chundengtai.base.dao.CdtDistributionLevelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chundengtai.base.bean.CdtDistributionLevel">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="money" property="money"/>
        <result column="parent_id" property="parentId"/>
        <result column="fx_level" property="fxLevel"/>
        <result column="group_id" property="groupId"/>
        <result column="stat_num" property="statNum"/>
        <result column="dev_num" property="devNum"/>
        <result column="is_trade" property="isTrade"/>
        <result column="trade_order_num" property="tradeOrderNum"/>
        <result column="sponsor_id" property="sponsorId"/>
        <result column="created_time" property="createdTime"/>
        <result column="token" property="token"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, money, parent_id, fx_level, group_id, stat_num, dev_num, is_trade, trade_order_num, sponsor_id, created_time, token
    </sql>

</mapper>
