<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chundengtai.base.dao.CdtUserSummaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chundengtai.base.bean.CdtUserSummary">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="total_income" property="totalIncome"/>
        <result column="unbalanced" property="unbalanced"/>
        <result column="is_partner" property="isPartner"/>
        <result column="partner_level" property="partnerLevel"/>
        <result column="stats_person" property="statsPerson"/>
        <result column="trade_person" property="tradePerson"/>
        <result column="share_order_num" property="shareOrderNum"/>
        <result column="refund_order_num" property="refundOrderNum"/>
        <result column="invalid_order_num" property="invalidOrderNum"/>
        <result column="partner_income" property="partnerIncome"/>
        <result column="stats_income" property="statsIncome"/>
        <result column="speed_partner" property="speedPartner"/>
        <result column="chain_road" property="chainRoad"/>
        <result column="token" property="token"/>
        <result column="revision" property="revision"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, total_income, unbalanced, is_partner, partner_level, stats_person, trade_person, share_order_num, refund_order_num, invalid_order_num, partner_income, stats_income, speed_partner, chain_road, token, revision, created_by, created_time, updated_by, updated_time
    </sql>

</mapper>
