<!DOCTYPE html>
<html>
<head>
    <title>分销层级表 分销层级表-绑定用户关系</title>
    #parse("sys/header.html")
</head>
<body>
<div id="app" v-cloak>
    <div v-show="showList">
        <Row :gutter="16">
            <el-card class="filter-container" shadow="never">
                <div>
                    <i class="el-icon-search"></i>
                    <span>筛选搜索</span>
                    <el-button
                            style="float: right"
                            @click="handleSearchList()"
                            type="primary"
                            size="small">
                        查询结果
                    </el-button>
                    <el-button
                            style="float: right;margin-right: 15px"
                            @click="handleResetSearch()"
                            size="small">
                        重置
                    </el-button>
                    <el-button
                            style="float: right;margin-right: 15px"
                            @click="add()"
                            size="small">
                        新建
                    </el-button>
                </div>
                <div style="margin-top: 15px">
                    <el-form :inline="true" :model="baseForm.data" size="small" label-width="140px">

                        <el-form-item label="用户id">
                            <el-input style="width: 203px" v-model="baseForm.data.userId"
                                      placeholder="用户id"></el-input>
                        </el-form-item>
                        <el-form-item label="推荐人id">
                            <el-input style="width: 203px" v-model="baseForm.data.parentId"
                                      placeholder="推荐人id"></el-input>
                        </el-form-item>
                        <el-form-item label="分销层级">
                            <el-input style="width: 203px" v-model="baseForm.data.fxLevel"
                                      placeholder="分销层级"></el-input>
                        </el-form-item>
                        <el-form-item label="发起人id">
                            <el-input style="width: 203px" v-model="baseForm.data.sponsorId"
                                      placeholder="发起人id"></el-input>
                        </el-form-item>
                        <el-form-item label="创建时间">
                            <el-input style="width: 203px" v-model="baseForm.data.createdTime"
                                      placeholder="创建时间"></el-input>
                        </el-form-item>
                    </el-form>
                </div>
            </el-card>
        </Row>
        <div class="table-container">
            <el-table ref="productTable" :data="list" style="width: 100%" @selection-change="handleSelectionChange"
                      v-loading="listLoading"
                      border>
                <el-table-column type="selection" width="60" align="center"></el-table-column>
                <el-table-column label="id" width="100" align="center">
                    <template slot-scope="scope">{{scope.row.id}}</template>
                </el-table-column>
                <el-table-column label="用户id" width="100" align="center">
                    <template slot-scope="scope">{{scope.row.userId}}</template>
                </el-table-column>
                <el-table-column label="推荐人id" width="100" align="center">
                    <template slot-scope="scope">{{scope.row.parentId}}</template>
                </el-table-column>
                <el-table-column label="分销层级" width="100" align="center">
                    <template slot-scope="scope">{{scope.row.fxLevel}}</template>
                </el-table-column>
                <el-table-column label="发起人id" width="100" align="center">
                    <template slot-scope="scope">{{scope.row.sponsorId}}</template>
                </el-table-column>
                <el-table-column label="创建时间" width="100" align="center">
                    <template slot-scope="scope">{{scope.row.createdTime|formatDate}}</template>
                </el-table-column>
                <el-table-column label="校验token" width="100" align="center">
                    <template slot-scope="scope">{{scope.row.token}}</template>
                </el-table-column>
                <!-- <el-table-column label="审核状态" width="100" align="center">
<template slot-scope="scope">
<p>{{scope.row.verifyStatus | verifyStatusFilter}}</p>
<p>
<el-button
type="text"
@click="handleShowVerifyDetail(scope.index, scope.row)">审核详情
</el-button>
</p>
</template>
</el-table-column> -->
                <el-table-column label="操作" width="160" align="center">
                    <template slot-scope="scope">
                        <p>
                            #if($shiro.hasPermission("CdtDistributionLevel:update"))
                            <el-button size="mini" @click="handleUpdateProduct(scope.$index, scope.row)">编辑
                            </el-button>
                            #end
                            #if($shiro.hasPermission("CdtDistributionLevel:update"))
                            <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除
                            </el-button>
                            #end
                        </p>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div class="batch-operate-container">
            #if($shiro.hasPermission("cdtDistributionLevel:delete"))
            <el-select size="small" v-model="operateType" placeholder="批量操作">
                <el-option v-for="item in operates" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
            </el-select>
            <el-button style="margin-left: 20px" class="search-button" @click="handleBatchOperate()" type="primary"
                       size="small">
                确定
            </el-button>
            #end
        </div>
        <div class="pagination-container">
            <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange"
                           layout="total, sizes,prev, pager, next,jumper"
                           :page-size="baseForm.pageSize" :page-sizes="[10,20,30,50,100]"
                           :current-page.sync="baseForm.pageIndex" :total="total">
            </el-pagination>
        </div>
    </div>

    <Card v-show="!showList">
        <p slot="title">{{title}}</p>
        <el-form :model="baseForm.data"
                 :rules="ruleValidate"
                 ref="formValidate"
                 @keyup.enter.native="dataFormSubmit('formValidate')"
                 label-width="80px">
            <el-form-item label="id" prop="id" :rules=" [
            { required: true, message: '请输入id', trigger: 'blur' }
          ]">
                <el-input style="width: 203px" v-model="baseForm.data.id"
                          placeholder="id"></el-input>
            </el-form-item>
            <el-form-item label="用户id" prop="userId" :rules=" [
            { required: true, message: '请输入用户id', trigger: 'blur' }
          ]">
                <el-input style="width: 203px" v-model="baseForm.data.userId"
                          placeholder="用户id"></el-input>
            </el-form-item>
            <el-form-item label="推荐人id" prop="parentId" :rules=" [
            { required: true, message: '请输入推荐人id', trigger: 'blur' }
          ]">
                <el-input style="width: 203px" v-model="baseForm.data.parentId"
                          placeholder="推荐人id"></el-input>
            </el-form-item>
            <el-form-item label="分销层级" prop="fxLevel" :rules=" [
            { required: true, message: '请输入分销层级', trigger: 'blur' }
          ]">
                <el-input style="width: 203px" v-model="baseForm.data.fxLevel"
                          placeholder="分销层级"></el-input>
            </el-form-item>
            <el-form-item label="发起人id" prop="sponsorId" :rules=" [
            { required: true, message: '请输入发起人id', trigger: 'blur' }
          ]">
                <el-input style="width: 203px" v-model="baseForm.data.sponsorId"
                          placeholder="发起人id"></el-input>
            </el-form-item>
            <el-form-item label="创建时间" prop="createdTime" :rules=" [
            { required: true, message: '请输入创建时间', trigger: 'blur' }
          ]">
                <el-input style="width: 203px" v-model="baseForm.data.createdTime"
                          placeholder="创建时间"></el-input>
            </el-form-item>
            <el-form-item label="校验token" prop="token" :rules=" [
            { required: true, message: '请输入校验token', trigger: 'blur' }
          ]">
                <el-input style="width: 203px" v-model="baseForm.data.token"
                          placeholder="校验token"></el-input>
            </el-form-item>

            <el-form-item style="text-align: center">
                <el-button size="medium" @click="showList = true">取消</el-button>
                <el-button type="primary" size="medium" @click="dataFormSubmit('formValidate')">确定</el-button>
            </el-form-item>
        </el-form>
    </Card>
</div>

<script src="${rc.contextPath}/js/sys/cdtdistributionlevel.js?time=${date.systemTime}"></script>
</body>
</html>