<!DOCTYPE html>
<html>
<head>
    <title></title>
        #parse("sys/header.html")
</head>
<body>
<div id="app" v-cloak>
    <div v-show="showList">
        <Row :gutter="16">
            <el-card class="filter-container" shadow="never">
                    <el-button
                            style="float: right"
                            @click="getList()"
                            type="primary"
                            size="small">
                        查询结果
                    </el-button>
                    <el-button
                            style="float: right;margin-right: 15px"
                            @click="handleResetSearch()"
                            size="small">
                        重置
                    </el-button>
            <div style="margin-top: 15px">
                <el-form :inline="true" :model="baseForm.data" size="small" label-width="140px">
                                            <el-form-item label="id">
                            <el-input style="width: 203px" v-model="baseForm.data.id"
                                      placeholder="id"></el-input>
                        </el-form-item>
                                            <el-form-item label="订单号">
                            <el-input style="width: 203px" v-model="baseForm.data.orderSn"
                                      placeholder="订单号"></el-input>
                        </el-form-item>
                    <el-form-item label="分销记录状态">
                        <el-select style="width: 200px" clearable v-model="baseForm.data.status" placeholder="分销记录状态">
                            <el-option value="398" label="未满七天">未满七天</el-option>
                            <el-option value="399" label="已退订">已退订</el-option>
                            <el-option value="400" label="未完成">未完成</el-option>
                            <el-option value="402" label="已完成">已完成</el-option>
                            <el-option value="403" label="审核中">审核中</el-option>
                            <el-option value="404" label="审核失败">审核失败</el-option>
                            <el-option value="406" label="已提现">已提现</el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="提现人">
                        <el-input style="width: 203px" v-model="baseForm.data.userName"
                                  placeholder="提现人"></el-input>
                    </el-form-item>
                        </el-form-item>
                    <!-- <el-form-item label="类型">
                         <el-select style="width: 200px" clearable v-model="baseForm.data.type" placeholder="类型">
                             <el-option value="0" label="未审核">未审核</el-option>
                             <el-option value="1" label="已通过">已通过</el-option>
                         </el-select>
                         </el-form-item>-->

                    <el-button style="margin-left: 20px;float:right" class="search-button" @click="handleBatchOperate()"
                               type="primary"
                               size="small">
                        审核
                    </el-button>
                </el-form>
            </div>
        </el-card>
        </Row>
        <div class="table-container">
            <el-table ref="productTable" :data="list" style="width: 100%" @selection-change="handleSelectionChange"
                      v-loading="listLoading"
                      border>
                <el-table-column type="selection" width="60" align="center"></el-table-column>
                                                            <el-table-column label="id" width="100" align="center">
                            <template slot-scope="scope">{{scope.row.id}}</template>
                        </el-table-column>
                                                                                <el-table-column label="订单号" width="160" align="center">
                            <template slot-scope="scope">{{scope.row.orderSn}}</template>
                        </el-table-column>
                <el-table-column label="分销状态" width="100" align="center">
                    <template slot-scope="scope">{{scope.row.status|OrderStatusType}}</template>
                </el-table-column>
                <el-table-column label="返利金额" width="100" align="center">
                            <template slot-scope="scope">{{scope.row.money}}</template>
                        </el-table-column>
                                                                                <el-table-column label="提现账号id" width="100" align="center">
                                                                                    <template slot-scope="scope">
                                                                                        {{scope.row.weixinOpenid}}
                                                                                    </template>
                                                                                </el-table-column>
                <el-table-column label="提现人" width="100" align="center">
                    <template slot-scope="scope">{{scope.row.userName}}</template>
                        </el-table-column>
                <el-table-column label="真实姓名" width="100" align="center">
                    <template slot-scope="scope">{{scope.row.realName}}</template>
                        </el-table-column>
                                                                                <el-table-column label="申请时间" width="160" align="center">
                                                                                    <template slot-scope="scope">
                                                                                        {{scope.row.applyTime|dateFormat}}
                                                                                    </template>
                        </el-table-column>
                <el-table-column label="更新人" width="90" align="center">
                    <template slot-scope="scope">{{scope.row.operator}}</template>
                        </el-table-column>
                                                                                <el-table-column label="更新时间" width="160" align="center">
                                                                                    <template slot-scope="scope">
                                                                                        {{scope.row.updateTime|dateFormat}}
                                                                                    </template>
                        </el-table-column>

                <el-table-column label="备注" width="160" align="center">
                    <template slot-scope="scope">
                        <span style="color: red">{{scope.row.remark}}</span>
                    </template>
                </el-table-column>

                <el-table-column label="操作" width="100" align="center">
                    <template slot-scope="scope">
                        <p>

                            <el-button size="mini" @click="handleUpdateProduct(scope.$index, scope.row)"
                                       v-show="scope.row.status == 403">编辑
                            </el-button>

                        </p>
                    </template>
                </el-table-column>

            </el-table>

        </div>

        <div class="pagination-container">
            <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange"
                           layout="total, sizes,prev, pager, next,jumper"
                           :page-size="baseForm.pageSize" :page-sizes="[10,20,30,50,100]"
                           :current-page.sync="baseForm.pageIndex" :total="total">
            </el-pagination>
        </div>
    </div>
    <Card v-show="!showList">
        <p slot="title">{{title}}</p>
        <el-form :model="baseForm.data"
                 :rules="ruleValidate"
                 ref="formValidate"
                 @keyup.enter.native="dataFormSubmit('formValidate')"
                 label-width="80px">
            <el-form-item label="id" prop="id" :rules=" [
            { required: true, message: '请输入id', trigger: 'blur' }
          ]">
                <el-input style="width: 203px" v-model="baseForm.data.id"
                          placeholder="id" disabled></el-input>
            </el-form-item>
            <el-form-item label="订单号" prop="orderSn" :rules=" [
            { required: true, message: '请输入订单号', trigger: 'blur' }
          ]">
                <el-input style="width: 203px" v-model="baseForm.data.orderSn"
                          placeholder="订单号" disabled></el-input>
            </el-form-item>
            <el-form-item label="分销记录状态" prop="status" :rules=" [
            { required: true, message: '请输入分销记录状态', trigger: 'blur' }
          ]">
                <el-input style="width: 203px" v-model="baseForm.data.status"
                          placeholder="分销记录状态" disabled></el-input>
            </el-form-item>
            <el-form-item label="返利金额" prop="money" :rules=" [
            { required: true, message: '请输入返利金额', trigger: 'blur' }
          ]">
                <el-input style="width: 203px" v-model="baseForm.data.money"
                          placeholder="返利金额" disabled></el-input>
            </el-form-item>
            <el-form-item label="提现账号id" prop="weixinOpenid" :rules=" [
            { required: true, message: '请输入提现账号id', trigger: 'blur' }
          ]">
                <el-input style="width: 203px" v-model="baseForm.data.weixinOpenid"
                          placeholder="提现账号id"></el-input>
            </el-form-item>
            <el-form-item label="提现人" prop="userName" :rules=" [
            { required: true, message: '请输入提现人', trigger: 'blur' }
          ]">
                <el-input style="width: 203px" v-model="baseForm.data.userName"
                          placeholder="提现人" disabled></el-input>
            </el-form-item>
            <el-form-item label="真实姓名" prop="realName" :rules=" [
            { required: true, message: '请输入真实姓名', trigger: 'blur' }
          ]">
                <el-input style="width: 203px" v-model="baseForm.data.realName"
                          placeholder="真实姓名"></el-input>
            </el-form-item>
            <el-form-item label="申请时间" prop="applyTime">
                <el-input style="width: 203px" v-model="baseForm.data.applyTime"
                          placeholder="申请时间" disabled></el-input>
            </el-form-item>
            <el-form-item label="更新人" prop="operator">
                <el-input style="width: 203px" v-model="baseForm.data.operator"
                          placeholder="更新人" disabled></el-input>
            </el-form-item>
            <el-form-item label="更新时间" prop="updateTime">
                <el-input style="width: 203px" v-model="baseForm.data.updateTime"
                          placeholder="更新时间" disabled></el-input>
            </el-form-item>
            <el-form-item label="备注" prop="remark">
                <el-input style="width: 203px" v-model="baseForm.data.remark"
                          placeholder="备注"></el-input>
            </el-form-item>

            <el-form-item style="text-align: center">
                <el-button size="medium" @click="showList = true">取消</el-button>
                <el-button type="primary" size="medium" @click="dataFormSubmit('formValidate')">确定</el-button>
            </el-form-item>
        </el-form>
    </Card>
</div>
<script src="${rc.contextPath}/js/sys/cdtdistridetailapply.js?time=${date.systemTime}"></script>
</body>
</html>