<!DOCTYPE html>
<html>
<head>
    <title>${table.comment}</title>
    #set($header='#parse("sys/header.html")')
    #set($save='#if($shiro.hasPermission("'+${entity}+':save"))')
    #set($update='#if($shiro.hasPermission("'+${entity}+':update"))')
    #set($delete='#if($shiro.hasPermission("'+${table.entityPath}+':delete"))')
    #set($end='#end')
    $header
</head>
<body>
<div id="app" v-cloak>
    <div v-show="showList">
        <Row :gutter="16">
            <el-card class="filter-container" shadow="never">
                <div>
                    <i class="el-icon-search"></i>
                    <span>筛选搜索</span>
                    <el-button
                            style="float: right"
                            @click="getList()"
                            type="primary"
                            size="small">
                        查询结果
                    </el-button>
                    <el-button
                            style="float: right;margin-right: 15px"
                            @click="handleResetSearch()"
                            size="small">
                        重置
                    </el-button>
                <el-button
                        style="float: right;margin-right: 15px"
                        @click="add()"
                        size="small">
                    新建
                </el-button>
            </div>
            <div style="margin-top: 15px">
                <el-form :inline="true" :model="baseForm.data" size="small" label-width="140px">
                    #foreach($field in ${table.fields})
                        <el-form-item label="${field.comment}">
                            <el-input style="width: 203px" v-model="baseForm.data.${field.propertyName}"
                                      placeholder="${field.comment}"></el-input>
                        </el-form-item>
                    #end
                    ##                    <el-form-item label="审核状态：">
                    ##                        <el-select v-model="listQuery.verifyStatus" placeholder="全部" clearable>
                    ##                            <el-option
                    ##                                    v-for="item in verifyStatusOptions"
                    ##                                    :key="item.value"
                    ##                                    :label="item.label"
                    ##                                    :value="item.value">
                    ##                            </el-option>
                    ##                        </el-select>
                    ##                    </el-form-item>
                </el-form>
            </div>
        </el-card>
        </Row>
        <div class="table-container">
            <el-table ref="productTable" :data="list" style="width: 100%" @selection-change="handleSelectionChange"
                      v-loading="listLoading"
                      border>
                <el-table-column type="selection" width="60" align="center"></el-table-column>
                #foreach($field in ${table.fields})
                    #if(!${field.propertyType.equals("Date")})
                        <el-table-column label="${field.comment}" width="100" align="center">
                            <template slot-scope="scope">{{scope.row.${field.propertyName}}}</template>
                        </el-table-column>
                    #else
                        <el-table-column label="${field.comment}" width="100" align="center">
                            <template slot-scope="scope">{{scope.row.${field.propertyName}|formatDate}}</template>
                        </el-table-column>
                    #end
                #end
                ##                <el-table-column label="商品图片" width="120" align="center">
                ##                    <template slot-scope="scope"><img style="height: 80px" :src="scope.row.primaryPicUrl"></template>
                ##                </el-table-column>
                ##                <el-table-column label="商品名称" align="left">
                ##                    <template slot-scope="scope">
                ##                        <p>名称:{{scope.row.name}}</p>
                ##                        <p>属性类别:{{scope.row.attributeCategoryName}}</p>
                ##                    </template>
                ##                </el-table-column>
                ##                <el-table-column label="价格/货号" width="120" align="left">
                ##                    <template slot-scope="scope">
                #foreach($field in ${table.fields})
                    ##                        <p>${field.comment}：{{scope.row.${field.propertyName}}}</p>
                #end
                ##                    </template>
                ##                </el-table-column>
                ##                <el-table-column label="标签" width="140" align="center">
                ##                    <template slot-scope="scope">
                ##                        <p>上架：
                ##                            <el-switch @change="handlePublishStatusChange(scope.$index, scope.row)" :active-value="1"
                ##                                       :inactive-value="0"
                ##                                       v-model="scope.row.isOnSale">
                ##                            </el-switch>
                ##                        </p>
                ##                        <p>新品：
                ##                            <el-switch @change="handleNewStatusChange(scope.$index, scope.row)" :active-value="1"
            ##                                       :inactive-value="0"
            ##                                       v-model="scope.row.isNew">
                ##                            </el-switch>
                ##                        </p>
                ##                        <p>热销：
                ##                            <el-switch @change="handleRecommendStatusChange(scope.$index, scope.row)" :active-value="1"
                ##                                       :inactive-value="0"
                ##                                       v-model="scope.row.isHot">
                ##                            </el-switch>
                ##                        </p>
                ##                    </template>
                ##                </el-table-column>
                ##                <el-table-column label="SKU库存" width="100" align="center">
                ##                    <template slot-scope="scope">
                ##                        <el-button type="primary" icon="el-icon-edit"
                ##                                   @click="handleShowSkuEditDialog(scope.$index, scope.row)" circle></el-button>
                ##                    </template>
                ##                </el-table-column>
                ##                <el-table-column label="商品类型" width="100" align="center">
                ##                    <template slot-scope="scope">{{scope.row.isSecKill|formatGoodsType}}</template>
                ##                </el-table-column>
                ##                <el-table-column prop="addTime" label="录入日期" width="100" align="center" :formatter="dateFormat">
                ##                    <template slot-scope="scope">{{scope.row.addTime|formatDate}}</template>
                ##                </el-table-column>
                <!-- <el-table-column label="审核状态" width="100" align="center">
             <template slot-scope="scope">
                 <p>{{scope.row.verifyStatus | verifyStatusFilter}}</p>
                 <p>
                     <el-button
                             type="text"
                             @click="handleShowVerifyDetail(scope.index, scope.row)">审核详情
                     </el-button>
                 </p>
             </template>
         </el-table-column> -->
                <el-table-column label="操作" width="160" align="center">
                    <template slot-scope="scope">
                        <p>
                            $update
                            <el-button size="mini" @click="handleUpdateProduct(scope.$index, scope.row)">编辑
                            </el-button>
                            $end
                            $update
                            <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除
                            </el-button>
                            $end
                        </p>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div class="batch-operate-container">
            $delete
            <el-select size="small" v-model="operateType" placeholder="批量操作">
                <el-option v-for="item in operates" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
            </el-select>
            <el-button style="margin-left: 20px" class="search-button" @click="handleBatchOperate()" type="primary"
                       size="small">
                确定
            </el-button>
            $end
        </div>
        <div class="pagination-container">
            <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange"
                           layout="total, sizes,prev, pager, next,jumper"
                           :page-size="baseForm.pageSize" :page-sizes="[10,20,30,50,100]"
                           :current-page.sync="baseForm.pageIndex" :total="total">
            </el-pagination>
        </div>
    </div>

    <Card v-show="!showList">
        <p slot="title">{{title}}</p>
        <el-form :model="baseForm.data"
                 :rules="ruleValidate"
                 ref="formValidate"
                 @keyup.enter.native="dataFormSubmit('formValidate')"
                 label-width="80px">
            ##                <el-form-item label="用户头像"
            ##                              prop="pic">
            ##                    <img :src="dataForm.pic"
            ##                         class="image">
            ##                </el-form-item>
            #foreach($field in ${table.fields})
                <el-form-item label="${field.comment}" prop="${field.propertyName}" :rules=" [
            { required: true, message: '请输入${field.comment}', trigger: 'blur' }
          ]">
                    <el-input style="width: 203px" v-model="baseForm.data.${field.propertyName}"
                              placeholder="${field.comment}"></el-input>
                </el-form-item>
            #end
            ##                <el-form-item label="用户昵称"
            ##                              prop="nickName">
            ##                    <el-input v-model="dataForm.nickName"
            ##                              :disabled="true"
            ##                              placeholder="用户昵称"></el-input>
            ##                </el-form-item>
            ## [
            ##            { required: true, message: '请输入${field.comment}', trigger: 'blur' },
            ##            { min: 3, max: 200, message: '长度在 3 到 200 个字符', trigger: 'blur' }
            ##          ]
            ##                <el-form-item label="状态"
            ##                              size="mini"
            ##                              prop="status">
            ##                    <el-radio-group v-model="dataForm.status">
            ##                        <el-radio :label="0">禁用</el-radio>
            ##                        <el-radio :label="1">正常</el-radio>
            ##                    </el-radio-group>
            ##                </el-form-item>

            ##                <el-form-item label="审核状态：">
            ##                    <el-select v-model="listQuery.verifyStatus" placeholder="全部" clearable>
            ##                        <el-option
            ##                                v-for="item in verifyStatusOptions"
            ##                                :key="item.value"
            ##                                :label="item.label"
            ##                                :value="item.value">
            ##                        </el-option>
            ##                    </el-select>
            ##                </el-form-item>
            <el-form-item style="text-align: center">
                <el-button size="medium" @click="showList = true">取消</el-button>
                <el-button type="primary" size="medium" @click="dataFormSubmit('formValidate')">确定</el-button>
            </el-form-item>
        </el-form>
    </Card>
</div>

<script src="${rc.contextPath}/js/module/${entity}.js?time=${date.systemTime}"></script>
</body>
</html>