<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.CdtNewsBulletinMapper">

    <resultMap type="com.platform.entity.CdtNewsBulletinEntity" id="cdtNewsBulletinMap">
                    <result property="id" column="id"/>
                    <result property="conent" column="conent"/>
                    <result property="url" column="url"/>
            </resultMap>

    <select id="queryObject" resultType="com.platform.entity.CdtNewsBulletinEntity">
		select
			`id`,
    			`conent`,
    			`url`    
		from cdt_news_bulletin
		where id = #{id}
	</select>

    <select id="queryList" resultType="com.platform.entity.CdtNewsBulletinEntity">
        select
                    `id`,
                            `conent`,
                            `url`        
        from cdt_news_bulletin
        WHERE 1=1
        <if test="name != null and name != ''">
            AND name LIKE concat('%',#{name},'%')
        </if>
        <choose>
            <when test="sidx != null and sidx != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from cdt_news_bulletin
        WHERE 1=1
        <if test="name != null and name != ''">
            AND name LIKE concat('%',#{name},'%')
        </if>
    </select>

    <insert id="save" parameterType="com.platform.entity.CdtNewsBulletinEntity">
		insert into cdt_news_bulletin(
        			`id`,
                    			`conent`,
                    			`url`            )
		values(
        			#{id},
                    			#{conent},
                    			#{url}            )
	</insert>

    <update id="update" parameterType="com.platform.entity.CdtNewsBulletinEntity">
        update cdt_news_bulletin
        <set>
                                                                            <if test="conent != null">`conent` = #{conent
                        }, </if>
                                                                <if test="url != null">`url` = #{url
                        }</if>
                                    </set>
        where id = #{id}
    </update>

    <delete id="delete">
		delete from cdt_news_bulletin where id = #{value}
	</delete>

    <delete id="deleteBatch">
        delete from cdt_news_bulletin where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>